@model Color
@{
    ViewData["Title"] = "Update";
}
<div class="main-panel">
    <div class="create">
        <h2>Update Color</h2>
        <form method="post">
            <label for="">Name:</label> <br>
            <input asp-for="ColorName" placeholder="Name"><br>
            <span class="text-danger" asp-validation-for="ColorName"></span> <br />
            <button type="submit">Update</button>
        </form>
    </div>
</div>


