@using FinallyFinalProject.HomeVModels
@model AccountVM
@{
    ViewData["Title"] = "ForgotPassword";
}
<section class="header-title">
    <h1>Forget Password</h1>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><span>/</span></li>
        <li>Forget Password</li>
    </ul>
</section>

<section id="ten">
    <div class="login">
        <form method="post">
            <h4>Forgot Password</h4>
            <div class="col-md-12">
                <label>Enter your registered email to reset your password.</label>
                <input asp-for="AppUser.Email" placeholder="Email"> <br />
                <span class="text text-danger" asp-validation-for="AppUser.Email"></span>
            </div>
           
            
            <button style="border:none; outline:none; font-size:15px; margin-top:20px; width:30%; background-color:yellow; color:white; padding:9px 0;" type="submit">Reset </button>
        
        </form>
    </div>
</section>
<div class="alert alert-danger" style="color:red; text-align:center" asp-validation-summary="ModelOnly"></div>


