@using FinallyFinalProject.HomeVModels
@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
}
<section class="header-title">
    <h1>Reset Password</h1>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><span>/</span></li>
        <li>Reset Password</li>
    </ul>
</section>

<section id="ten">
    <div class="login">
        <form method="post">
            <h4>Reset Password</h4>
            <div class="col-md-12">
                <label>Enter Your Password</label>
                <input asp-for="Password" placeholder="Password"> <br />
                <span class="text text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-md-12">
                <input asp-for="ConfirmPassword" placeholder="Confirm Password"> <br />

                <span class="text text-danger" style="color:red;" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="col-md-12">
                <label>Token</label>
                <input asp-for="Token" placeholder="Password"> <br />
                <input asp-for="AppUser.Email"/>
            </div>
           

            <button style="border:none; outline:none; font-size:15px; margin-top:20px; width:30%; background-color:yellow; color:white; padding:9px 0;" type="submit">Reset </button>

        </form>
    </div>

</section>
<div class="alert alert-danger" style="color:red; text-align:center" asp-validation-summary="ModelOnly"></div>



