
@{
    ViewData["Title"] = "Index";
}

<section class="header-title">
    <h1>About</h1>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><span>/</span></li>
        <li>About Us</li>
    </ul>

</section>
<section id="one">
    <div class="container">
        <h1>OUR ADVANTAGES</h1>
        <div class="row sss">
            <div class="col-6 col-md-6 col-sm-12 advantages">
                <img src="~/images/pexels-garrett-morrow-1649771.jpg" alt="">
                <h5>Doloremque laudantium, totam rem aperiam</h5>
                <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque.</p>
            </div>
            <div class="col-6 col-md-12 col-sm-12  advantages">
                <img src="~/images/pexels-moose-photos-1037999.jpg" alt="">
                <h5>Doloremque laudantium, totam rem aperiam</h5>
                <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque.</p>
            </div>
        </div>
    </div>
</section>
<section id="two">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-6 col-sm-12">
                <img src="https://html.rovadex.com/html-creto/assets/img/advantages-about-1.svg" alt="">
                <h5>
                    Free shipping
                    from $500
                </h5>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <img src="https://html.rovadex.com/html-creto/assets/img/advantages-about-2.svg" alt="">
                <h5>
                    Warranty service
                    for 3 months
                </h5>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <img src="https://html.rovadex.com/html-creto/assets/img/advantages-about-3.svg" alt="">
                <h5>
                    Exchange and return
                    within 14 days
                </h5>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <img src="https://html.rovadex.com/html-creto/assets/img/advantages-about-4.svg" alt="">
                <h5>
                    Discounts for
                    customers
                </h5>
            </div>
        </div>
    </div>
</section>
<section id="three">
    <span class="mask"></span>
    <span class="span"></span>
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-6 col-sm-12">
                <div class="number">
                    <span data-number="2200">2200</span>
                </div>
                <h5>Satisfied customers</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <div class="number">
                    <span data-number="1650">1650</span>
                </div>
                <div class="h5">
                    <h5>Various Products</h5>
                </div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <div class="number">
                    <span data-number="125">125</span>
                </div>
                <h5> Famous brand</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <div class="number">
                    <span data-number="1988">1988</span>
                </div>
                <h5>Orders per year</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>
        </div>
    </div>
</section>
<section id="four">
    <div class="container">
        <h1>OUR TEEM</h1>
        <div class="row ">
            <div class="col-3 col-md-6 col-sm-12">
                <img src="https://html.rovadex.com/html-creto/assets/img/about-team-1.jpg" alt="">
                <h5>Melissa Small</h5>
                <p>Director</p>
                <ul class="social-list">
                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <img src="https://html.rovadex.com/html-creto/assets/img/about-team-2.jpg" alt="">
                <h5>Peregrine Harris</h5>
                <p>Sales Manager</p>
                <ul class="social-list">
                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <img src="https://html.rovadex.com/html-creto/assets/img/about-team-3.jpg" alt="">
                <h5>Agatha Allison</h5>
                <p>Sanager</p>
                <ul class="social-list">
                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-3 col-md-6 col-sm-12">
                <img src="https://html.rovadex.com/html-creto/assets/img/about-team-4.jpg" alt="">
                <h5>Mark Simpson</h5>
                <p>Seller</p>
                <ul class="social-list">
                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    
</section>


